#interactive {
  max-width: 800px;
  margin: 5rem auto 3rem;
  background: rgba(30, 41, 59, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 2.5rem 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 212, 255, 0.15);
  border: 1px solid rgba(0, 212, 255, 0.2); 
  color: #cbd5e1;
  text-align: left;
  position: relative;
  transition: all 0.3s ease;
}


#interactive h2 {
  text-align: center;
  color: #00d4ff;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.progress-container {
  width: 100%;
  background: #0f172a;
  border-radius: 20px;
  height: 10px;
  margin-bottom: 2rem;
}

.progress-bar {
  height: 10px;
  background: #00d4ff;
  border-radius: 20px;
  width: 0%;
  transition: width 0.3s ease;
}

.quiz-form p {
  font-weight: bold;
  color: #00d4ff;
  margin: 1.5rem 0 0.5rem;
}

.quiz-form label {
  display: block;
  background: #111827;
  margin: 0.5rem 0;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid transparent;
}

.quiz-form input[type="radio"] {
  margin-right: 0.5rem;
}

.quiz-form label:hover {
  background: #0f172a;
  border: 1px solid #00d4ff;
  box-shadow: 0 0 10px rgba(0, 212, 255, 0.4);
}

.quiz-form .btn {
  display: block;
  margin: 2.5rem auto 0;
  padding: 0.9rem 2.2rem;
  background: #00d4ff;
  color: #0f1724;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content; 
  text-align: center;
}

.quiz-form .btn:hover {
  background: #06b6d4;
  transform: scale(1.05);
  box-shadow: 0 0 15px #00d4ff;
}

.retry {
  background: #7c5cff;
  margin: 2rem auto 0; 
  display: block;
  padding: 0.9rem 2.2rem;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  width: fit-content;
}


#result {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #7c5cff;
  opacity: 0;
  transition: opacity 0.8s ease;
}

#result.show {
  opacity: 1;
}
